<h1>Show Variant</h1>
<p>
  <strong>Name:</strong>
  <%= @variant.name %>
</p>
 
<p>
  <strong>Diameter:</strong>
  <%= @variant.diameter %>
</p>
<td><%= link_to 'Edit', edit_variant_path(@variant) %></td>
<%= link_to 'Back', variants_path %>