<h1>Show Country</h1>
<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>
 
<p>
  <strong>X:</strong>
  
</p>
<td><%= link_to 'Edit', edit_country_path(@country) %></td>
<%= link_to 'Back', countries_path %>