<h1>Show Technology</h1>
<p>
  <strong>Name:</strong>
  <%= @technology.name %>
</p>
 
<p>
  <strong>X:</strong>
  
</p>
<td><%= link_to 'Edit', edit_technology_path(@technology) %></td>
<%= link_to 'Back', technologies_path %>